<div class="rightSidebar">
    
        <div class="search-bar">
            <input placeholder="  Buscar" type="text" [(ngModel)]="value">
            <mat-icon class="search-icon">search</mat-icon>
        </div>  
        
        <div class="area-recientes">
            <mat-list class="recientes"  >
                <mat-list-item class="recientes-item" *ngFor="let item of recentMovies" >

                        <app-movie-card [item] ='item'></app-movie-card>

                </mat-list-item>
            </mat-list>
        
        </div>
      

</div>