 .rightSidebar{
    background-color: #00022B;
    position: fixed;
    right: 0;
    width: 18%;
    height: 100%;
    z-index: 1000;
    
 }

 .search-bar{
   
   height: 30px;
   width: 100%;
   padding-left: 10px;
   padding: 10px;
 
   
   input{
      background-color: #00055a;
      color: white;
      width: 100%;
      height: 30px;
      border-radius: 20px;
      // border-color: grey;
      // border: .1px;
      // border-style:solid;
   }

   .search-icon{
      position: absolute;
      right: 0;
      margin-right: 20px;
      margin-top: 5px;
      

  


   }
   mat-icon{

     color :#EDBE00;
   }

 }



 .area-recientes{
   margin-top: 3.5%;
   padding-top: 20%;
   height: 100%;
   width: 100%;
   overflow: scroll;

   
 
 }

 .recientes{
  
   mat-list-item{
    margin-bottom: 150px;
   }
 }

/* width */
::-webkit-scrollbar {
   width: 5px;
   
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #655100;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #201F1F;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

 