<div class="rightSidebar">
    
        <div class="search-bar">
            <input placeholder="  Buscar" type="text" [(ngModel)]="value">
            <mat-icon class="search-icon">search</mat-icon>
        </div>  
        
        <div class="area-recientes">
            <mat-list class="recientes">
                <mat-list-item class="recientes-item">
                    <mat-card class="example-card">
                        <mat-card-title-group>
                          <mat-card-title>Shrek</mat-card-title>
                          <mat-card-subtitle>5 Estrellas</mat-card-subtitle>
                          <img mat-card-md-image src="https://i.etsystatic.com/27475238/r/il/f9eed6/3758942437/il_fullxfull.3758942437_9564.jpg" >
                        </mat-card-title-group>
                      </mat-card>
                </mat-list-item>
                <mat-list-item class="recientes-item">
                    <mat-card class="example-card">
                        <mat-card-title-group>
                          <mat-card-title>Shrek</mat-card-title>
                          <mat-card-subtitle>5 Estrellas</mat-card-subtitle>
                          <img mat-card-md-image src="https://i.etsystatic.com/27475238/r/il/f9eed6/3758942437/il_fullxfull.3758942437_9564.jpg" >
                        </mat-card-title-group>
                      </mat-card>
                </mat-list-item>
                <mat-list-item class="recientes-item">
                    <mat-card class="example-card">
                        <mat-card-title-group>
                          <mat-card-title>Shrek</mat-card-title>
                          <mat-card-subtitle>5 Estrellas</mat-card-subtitle>
                          <img mat-card-md-image src="https://i.etsystatic.com/27475238/r/il/f9eed6/3758942437/il_fullxfull.3758942437_9564.jpg" >
                        </mat-card-title-group>
                      </mat-card>
                </mat-list-item>
                <mat-list-item class="recientes-item">
                    <mat-card class="example-card">
                        <mat-card-title-group>
                          <mat-card-title>Shrek</mat-card-title>
                          <mat-card-subtitle>5 Estrellas</mat-card-subtitle>
                          <img mat-card-md-image src="https://i.etsystatic.com/27475238/r/il/f9eed6/3758942437/il_fullxfull.3758942437_9564.jpg" >
                        </mat-card-title-group>
                      </mat-card>
                </mat-list-item>
                <mat-list-item class="recientes-item">
                    <mat-card class="example-card">
                        <mat-card-title-group>
                          <mat-card-title>Shrek</mat-card-title>
                          <mat-card-subtitle>5 Estrellas</mat-card-subtitle>
                          <img mat-card-md-image src="https://i.etsystatic.com/27475238/r/il/f9eed6/3758942437/il_fullxfull.3758942437_9564.jpg" >
                        </mat-card-title-group>
                      </mat-card>
                </mat-list-item>
            </mat-list>
        
        </div>
      

</div>