.recomendations-area{
    margin-left:60px;
    //margin-right:20%;
    height: 260px;
    width : 80%;
    background-color: #00011c;
    position:absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;

}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

  h1{
    margin-top: 10px;
    color: white;
    margin-left: 45%;
  }


  $itemGrow: 1.2;
  $duration: 250ms;
  

  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3,100%);
    overflow:hidden;
    scroll-behavior: smooth;
  
    section {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(5, auto);
      margin: 20px 0;
      
      .item {
        position: relative;
        padding: 0 2px;
        transition: $duration all;
        max-width: 350px;
        max-height: 150px;
        border-radius: 5px;
        
        &:hover { 
          margin: 0 40px;
          transform: scale(1.2);
        }
  
  
        .heading {
          position: absolute;
          bottom: 20px;
          left: 20px;
          color: #fff;
        }
  
        .duration {
          position: absolute;
          bottom: 0;
          left: 20px;
          color: #fff;
        }
        
      }

      .item-img{
        border-radius: 5px;
      }
  
      .arrow__btn {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        background:rgb(0,0,0);
        width: 80px;
        padding: 20px;
        text-align: center;
        z-index: 1;
      }
  
      .left-arrow {
        top:0; bottom:0; left:0;
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
      
      .right-arrow {
        top:0; bottom:0; right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
  
    }
  }