<div class="recomendations-area">
    <h1> Recomendaciones </h1>
    <div class="wrapper">

        <section id="section1">
          <a href="#section3" class="arrow__btn left-arrow" >‹</a>
          <div class="item" *ngFor=" let item of recSec1">
            <a href="#"  >
              <div class="centered" (click)="gotoMovie(item)">
                  {{item.Title}}
              </div>

              <img class="item-img"
                src="{{item.Background}}"
                alt="Describe Image">
            </a>
          </div>
          
          <a href="#section2" class="arrow__btn right-arrow">›</a>
        </section>
      
        <section id="section2">
          <a href="#section1" class="arrow__btn left-arrow">‹</a>
          <div class="item" *ngFor=" let item of recSec2">
            <div class="centered" (click)="gotoMovie(item)">
              {{item.Title}}
          </div>

            <img class="item-img"
              src="{{item.Background}}"
              alt="Describe Image">
          </div>
          <a href="#section3" class="arrow__btn right-arrow">›</a>
        </section>
      
        <section id="section3">
          <a href="#section2" class="arrow__btn left-arrow">‹</a>
          <div class="item" *ngFor=" let item of recSec3">
            <div class="centered" (click)="gotoMovie(item)">
              {{item.Title}}
          </div>

            <img class="item-img"
              src="{{item.Background}}"
              alt="Describe Image">
          </div>
          <a href="#section1" class="arrow__btn right-arrow">›</a>
        </section>
      </div>
   
</div>
