<div class="comment">
    <div class="icon-author">
        <table class="name-user">
            <tr>
                <th>
                    <mat-icon>person</mat-icon>
                </th>
                <th>
                    {{item.Author}}
                </th>
            </tr>
        </table>
    </div>


    <div class="rating">
        <div class="stars" >
            <form action="" [innerHTML] = 'htmlstring3 | sanitizeHtml'>
            </form>
          </div>
    </div>

    <div class="description">
        {{item.Description}}
    </div>
</div>
