.example-container {
    width: 100%;
    height: 100%;
    background: none;
    z-index: 100;
    position: fixed;

  }
  
  .example-sidenav {
    padding: 20px;
    background-color: #00022B;
   // border-right-color: #edbe00;
   //border-color: #edbe00;;
   border: none;
  }


  .closedSideNav{
    height: 100%;
    width: 60px;
    background-color: #00022B;
    position:fixed;
    z-index: 1000;
}

.cSideNavContent{
    margin-left: 15px;
    margin-top: 20px;
}


.icon-buttons{
  margin-top: 30px;
    height: 100%;
    th{
        padding-bottom: 20px;
    }
}

.expanded-buttons{

  height: 10%;
  th{
    padding-bottom: 20px;
  }

}

mat-icon{
  color :#EDBE00;
}
