  .example-card {
    background-color: #00011c;
    cursor: pointer;
    mat-card-header{

      display: block;
      mat-card-title-group{
  
        mat-card-subtitle{
          padding-top: 10px;
          
        }
      }
      img{
      border-radius: 2px;
         max-width: 100px;
         max-height: 112px;
         display: block;
        
      }
    }
    
    .description-minim{
      padding-top: 5px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 26ch;
    }

   
  }




