mat-expansion-panel{
    background-color:  #00011c;
    mat-expansion-panel-header{
        color: white;
        mat-panel-title{
            p{
                background-color:#EDBE00 ;
                color: black;
            }

        }
    }
}