.create-comment{
    height: 250px;
    .autor{
        padding-right: 8px;
    }
    #Author{
        background-color: #00022B;
        color: white;
        height: 30px;
        width: 90%;
    }

    #Description{
        background-color: #00022B;
        color: white;
        width: 100%;
        height: 150px;

    }

    .Rating{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .send-button-div{
        width: auto;
        height: auto;
        position: relative;
        
        .send-button{
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 10px;
            margin-bottom: 10px;
            .send-icon{
                color:#EDBE00;       
            }
        }
    }

    .close-button-div{
        width: auto;
        height: auto;
        position: relative;
        .exit-button{
            position: absolute;
            right: 0;
            .send-icon{
                color:#EDBE00;       
            }
        }
    }

}